*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
db/ems_backup_2020_07_07_120008_7798038.bak
application/config/*
db/ems_backup_2020_07_07_120008_7798038.bak
db/ems_backup_2020_07_07_120008_7798038.7z
